<!-- Card 1 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Mohannad Alnunu <span class="arrow">&rarr;</span> Honda Accord</h5>
      <p class="card-text">Rental Period: 2023-06-09 <span class="arrow">&rarr;</span> 2023-06-15</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 2 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Mohammed Elnounou <span class="arrow">&rarr;</span> BMW 3 Series</h5>
      <p class="card-text">Rental Period: 2023-06-12 <span class="arrow">&rarr;</span> 2023-06-18</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 3 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Youssef Alnono <span class="arrow">&rarr;</span> Toyota Camry</h5>
      <p class="card-text">Rental Period: 2023-06-17 <span class="arrow">&rarr;</span> 2023-06-24</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 4 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Mohannad Alnunu <span class="arrow">&rarr;</span> Ford Mustang</h5>
      <p class="card-text">Rental Period: 2023-06-21 <span class="arrow">&rarr;</span> 2023-06-28</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 5 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Youssef Alnono <span class="arrow">&rarr;</span> Chevrolet Camaro</h5>
      <p class="card-text">Rental Period: 2023-06-25 <span class="arrow">&rarr;</span> 2023-07-02</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 6 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Mohammed Elnounou <span class="arrow">&rarr;</span> Nissan Altima</h5>
      <p class="card-text">Rental Period: 2023-07-01 <span class="arrow">&rarr;</span> 2023-07-08</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 7 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Mohannad Alnunu <span class="arrow">&rarr;</span> Audi A4</h5>
      <p class="card-text">Rental Period: 2023-07-06 <span class="arrow">&rarr;</span> 2023-07-13</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 8 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Youssef Alnono <span class="arrow">&rarr;</span> Mercedes-Benz C-Class</h5>
      <p class="card-text">Rental Period: 2023-07-09 <span class="arrow">&rarr;</span> 2023-07-16</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 9 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Mohammed Elnounou <span class="arrow">&rarr;</span> Ford reveals f-150</h5>
      <p class="card-text">Rental Period: 2023-07-12 <span class="arrow">&rarr;</span> 2023-07-19</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>

<!-- Card 10 -->
<div class="card">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">Youssef Alnono <span class="arrow">&rarr;</span> Toyota Camry</h5>
      <p class="card-text">Rental Period: 2023-07-15 <span class="arrow">&rarr;</span> 2023-07-22</p>
    </div>
    <div>
      <button class="btn btn-primary btn-sm m-2"><i class="fas fa-edit"></i>Edit</button>
      <button class="btn btn-danger btn-sm m-2"><i class="fas fa-trash-alt"></i>Delete</button>
    </div>
  </div>
</div>
